{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Risk Preference
{% endblock %}



{% block styles %}
    <link href="{% static "css/vue-range-slider.css" %}" rel="stylesheet">
    <style> /* set the CSS */
    .line {
      fill: none;
      stroke: black;
      stroke-width: 2px;
    }
    .range-slider {
        width: 290px !important;
    }
    </style>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/vue.min.js" %}"></script>
    <script src="{% static "js/d3.min.js" %}"></script>
    <script src="{% static "js/vue-range-slider.cjs.js" %}"></script>
    <script type="text/javascript">

    /*
    Principal maintainer: Rachel Chen <me@rachelchen.me>
    Contributors:
        <add your name here>
    */

    var currentRound = {{ player.round_number | json }}
    var constantValues = {{ Constants.static_values | json }}
    var defaultValues  = {{ Constants.default_values | json }}

    // Notes: these can probably be offloaded to Python
    var dynamicValues  = {{ Constants.dynamic_values | json }}

    var getMode = function() {
        var roundData = dynamicValues[currentRound - 1]
        if (roundData && roundData.mode) return roundData.mode
        return 'negative'
    }

    var defaultValue = function(sourceObj, sourceKey, defaultObj, defaultKey) {
        return (typeof sourceObj[sourceKey] === 'undefined' ? defaultObj[defaultKey] : sourceObj[sourceKey])
    }

    var getEquation = function() {
        var roundData = dynamicValues[currentRound - 1]
        if (roundData) {
            return {
                m: defaultValue(roundData, 'm', defaultValues.equation, 'm'),
                px: defaultValue(roundData, 'py', defaultValues.equation, 'py'),
                py: defaultValue(roundData, 'px', defaultValues.equation, 'px'),
                a: {
                    x: defaultValue(roundData, 'a_x', defaultValues.equation, 'a_x'),
                    y: defaultValue(roundData, 'a_y', defaultValues.equation, 'a_y'),
                },
                b: {
                    x: defaultValue(roundData, 'b_x', defaultValues.equation, 'b_x'),
                    y: defaultValue(roundData, 'b_y', defaultValues.equation, 'b_y'),
                }
            }
        }else{
            return defaultValues.equation
        }
    }

    var getLabels = function() {
        var roundData = dynamicValues[currentRound - 1]
        if (roundData) {
            return (typeof roundData.label === 'undefined' ? defaultValues.label : {
                x: defaultValue(roundData.label, 'x', defaultValues.label, 'x'),
                y: defaultValue(roundData.label, 'y', defaultValues.label, 'y')
            })
        }else{
            return defaultValues.label
        }
    }

    var getProb = function() {
        var roundData = dynamicValues[currentRound - 1]

        if (roundData.mode && roundData.mode === 'probability') {
            return defaultValues.prob
        }

        var prob_a = 0
        var prob_b = 100

        if (typeof roundData.prob_b === 'undefined' && typeof roundData.prob_a !== 'undefined') {
            prob_a = roundData.prob_a
            prob_b = 100 - prob_a
        }else if (typeof roundData.prob_b !== 'undefined' && typeof roundData.prob_a === 'undefined') {
            prob_b = roundData.prob_b
            prob_a = 100 - prob_b
        }

        return {
            a: prob_a,
            b: prob_b
        }
    }

    var getGraphData = function() {
        var graphData = {}

        graphData = Object.assign({}, constantValues)

        Object.assign(graphData, {
            mode: getMode(),
            label: getLabels(),
            equation: getEquation(),
            prob: getProb(),
            onChangeCallback: function() {
                console.log('hi')
            }
        })

        return graphData
    }

    var appSpecific = getGraphData()

    </script>
    <script src="{% static "js/graph.js" %}"></script>

{% endblock %}



{% block content %}
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="graph col-md-6"></div>
                <div class="col-md-6" v-if="mode === 'probability'">
                    <h5>This is your choice:</h5>
                    <div class="row" style="margin-top: 50px">
                        <range-slider
                        class="slider"
                        min="0"
                        max="100"
                        step="1"
                        v-model="prob.a">
                        </range-slider>
                    </div>
                    <div class="row">
                        <div class="col-md-3" v-html="prob.a.toFixed(0) + '%'">
                        </div>
                        <div class="col-md-3" style="text-align: right;" v-html="prob.b.toFixed(0) + '%'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Probability of A:
                        </div>
                        <div class="col-md-3" style="text-align: right;">
                            Probability of B:
                        </div>
                    </div>
                    <div class="row col-md-6" style="margin-top: 50px">
                        <table class="table table-bordered table-condensed small">
                            <thead>
                                <tr>
                                    <td>State: Probability (%)</td>
                                    <td>Your Tokens</td>
                                    <td>Partner's Tokens</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td v-html="'A: ' + prob.a.toFixed(0) + '%'"></td>
                                    <td v-html="equation.a.x"></td>
                                    <td v-html="equation.a.y"></td>
                                </tr>
                                <tr>
                                    <td v-html="'B: ' + prob.b.toFixed(0) + '%'"></td>
                                    <td v-html="equation.b.x"></td>
                                    <td v-html="equation.b.y"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6" v-if="mode !== 'probability'">
                    <h5>This is your choice:</h5>
                    <div class="row col-md-6" style="margin-top: 50px">
                        <table class="table table-bordered table-condensed small">
                            <thead>
                                <tr>
                                    <td>State: Probability (%)</td>
                                    <td>Your Tokens</td>
                                    <td v-if="mode !== 'single'">Partner's Tokens</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td v-html="'A: ' + prob.a.toFixed(0) + '%'"></td>
                                    <td v-html="selected[0].x"></td>
                                    <td v-html="selected[1].x" v-if="mode !== 'single'"></td>
                                </tr>
                                <tr>
                                    <td v-html="'B: ' + prob.b.toFixed(0) + '%'"></td>
                                    <td v-html="selected[0].y"></td>
                                    <td v-html="selected[1].y" v-if="mode !== 'single'"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" v-if="mode !== 'probability'">
                <input type="hidden" name="mode" v-model="mode" />
                <input type="hidden" v-if="mode !== 'single'" name="partner_a" v-model="selected[1].x" />
                <input type="hidden" v-if="mode !== 'single'" name="partner_b" v-model="selected[1].y" />
                <input type="hidden" name="me_a" v-model="selected[0].x" />
                <input type="hidden" name="me_b" v-model="selected[0].y" />
                <input type="hidden" name="prob_a" v-model="prob.a" />
                <input type="hidden" name="prob_b" v-model="prob.b" />
            </div>
            <div class="row" v-if="mode === 'probability'">
                <input type="hidden" name="mode" v-model="mode" />
                <input type="hidden" name="prob_a" v-model="prob.a" />
                <input type="hidden" name="prob_b" v-model="prob.b" />
            </div>
        </div>
    </div>

    {% next_button %}

{% endblock %}
