{% load otree_tags staticfiles %}

<div class="instructions well well-lg">


    {% if mode == 'sec_1bl_1ch' or mode == 'sec_1bl_2ch' or mode == 'sec_2bl_1ch' or mode == 'sec_2bl_2ch' or mode == 'sec_ownrisk' or mode == 'sec_ownrisk_fixedother' or mode == 'sec_otherrisk_ownfixed' %}
        <h2 class="panel-sub-heading">
            {% if mode == 'sec_1bl_1ch'%}
                Instructions for S-1B-1C
            {% elif mode == 'sec_1bl_2ch'%}
                Instructions for S-1B-2C
            {% elif mode == 'sec_2bl_1ch'%}
                Instructions for S-2B-1C
            {% elif mode == 'sec_2bl_2ch'%}
                Instructions for S-2B-2C
            {% endif %}
        </h2>

        <p>
           In each decision round, there will be two probable states: State A and State B. Think of these states as the weather: it could be either sunny or cloudy. However, when you make your decision, it is uncertain which state will occur.
        </p>
        <p>
            Your decision will be represented by a point on a graph like the one in the figure below. In this graph, the horizontal axis indicates Tokens paid if State A occurs, and the vertical axis indicates Tokens paid if State B occurs. The chance that each state will occur is displayed in parentheses on the corresponding axis label. In sample screen-shot, for instance, the probability of State A is 50%, and the probability of State B is 50%, as well. However, be aware that these probabilities might be different in different decision rounds.
        </p>
        <p>
            The position of a point on this graph represents a lottery. For example, the point on location (40, 20) indicates that if State A is realized, the lottery pays 40 tokens; and if State B is realized, the lottery pays 20 tokens. <i style="color: blue"> your lottery  will be depicted by a blue square, and </i> and <i style="color: orange"> Partner’s lottery by an orange circle </i>.
        </p>

            {% if mode == 'sec_1bl_1ch' %}
                <img src="{% static "sec_1bl_1ch.png" %}" width="500" align="center"/>
            {% endif %}
        
        <!-- Budget lines -->
        {% if sec1 == '1bl' %}
            <p>
                1BL 1BL 1BL ---- Instructions for 1 budget line only. Will be followed by either: instructions for 1 choice, or instructions for 2 choices.
            </p>
        {% elif sec1 == '2bl' %}
            <p>
                2BL 2BL 2BL ---- Instructions for 1 budget line only. Will be followed by either: instructions for 1 choice, or instructions for 2 choices.
            </p>
        {% endif %}

        <!-- Choices -->
        {% if sec2 == '1ch'}
            <p>
                1CH 1CH 1CH ---- Instructions for 1 choice only. Will follow either: instructions for 1 budget line, or instructions for 2 budget lines.
            </p>
        {% elif sec2 == '2ch'}
            <p>
                2CH 2CH 2CH ---- Instructions for 2 choices only. Will follow either: instructions for 1 budget line, or instructions for 2 budget lines.
            </p>
        {% endif %}

        <!-- other security modes -->
        {% if mode == 'sec_ownrisk' %}
            <h2 class="panel-sub-heading">
                Instructions for S-OwnRisk
            </h2>
            <p>
                OWNRISK INSTRUCTIONS
            </p>
        {% elif mode == 'sec_ownrisk_fixedother' %}
            <h2 class="panel-sub-heading">
                Instructions for S-OwnRisk-FixedOther
            </h2>
            <p>
                OWNRISK FIXEDOTHER INSTRUCTIONS
            </p>
        {% elif mode == 'sec_otherrisk_ownfixed' %}
            <h2 class="panel-sub-heading">
                Instructions for S-OtherRisk-OwnFixed
            </h2>
            <p>
                OTHERRISK OWNFIXED INSTRUCTIONS
            </p>
        {% endif %}

    {% elif mode == 'det_giv %}
        <h2 class="panel-sub-heading">
                Instructions for DG
        <p>
            DETERMINISTIC GIVEN INSTRUCTIONS
        </p>
    {% endif %}


