{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Initial Instructions
{% endblock %}

{% block content %}


<h2>Experimental Instructions</h2>

<p>
    This is an experiment in decision-making. Several research foundations have provided
    funds for this study. Your final earnings today will depend partly on your decisions,
    partly on the decisions of others and partly on chance. Precise rules will be explained
    below. Please pay careful attention to the instructions. At the end of the experiment,
    you will be paid in cash. All payments will be made in private. Also, you will receive
    $7 as a participation fee, simply for showing up on time.

    During the experiment we will use Experimental Tokens instead of dollars.
    At the end of the experiment, your earnings in tokens will be translated into dollars.
    You will receive 1 dollar for every 5 tokens you have earned in the session.
    It is important that you do not talk or in any way try to communicate with other
    people during the session. If you have a question, raise your hand and an experimenter
    will attend to your station to answer your question privately. The experiment should
    be finished in approximately one hour.
</p>

<h3>Pairs</h3>

<p>
    At the beginning of the experiment, you will be randomly and anonymously matched with
    one other participant to form a pair. Within each pair there will be one person with
    the role of “Decider” and another person with the role of “Partner.” These roles will
    be assigned randomly, and will remain for the entire session. No participant will
    learn in any way the identity of his/her counterpart at any moment of the session.
    In each pair, only choices made by the Decider will determine final payoffs. Although
    the Partner will face the same kinds of tasks, his/her choices will not determine
    anyone’s payoffs.
</p>

<h3>Tasks, Decision Rounds and Earnings</h3>

<p>
    This experiment will consist of a series of decision rounds of five
    different types of tasks. Each kind of task will be detailed below.
    At the end of all decisions, the computer will randomly select one choice
    made by the Decider and generate payoffs for both Decider and Partner based
    on that selected choice. The selected choice as well as the final payoffs it
    generates will be disclosed to both participants.
</p>


    {% next_button %}
{% endblock %}

