{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("arrive_time").value = (new Date()).toISOString();
      }
    </script>
{% endblock %}
{% block title %}
    
    {% if mode == 'sec_1bl_2ch' %}
        independent temp
    {% elif mode == 'probability' %}
        Task Type 1 (Prob)
    {% elif mode == 'sec_ownrisk' %}
        single temp
    {% elif mode == 'sec_1bl_1ch' %}
        positive temp
    {% elif mode == 'sec_2bl_1ch' %}
        negative temp
    {% elif mode == 'sec_ownrisk_fixedother' %}
        own risk fixed other temp
    {% elif mode == 'sec_otherrisk_ownfixed' %}
       other risk fixed own temp
    {% elif mode == 'det_giv' %}
        deterministic given/dictator game temp
    {% endif %}

{% endblock %}



{% block content %}
    {% formfield player.time_TaskInstructions with label=None %}
    {% if mode == 'sec_1bl_2ch' %}
        <h3>independent temp</h3>
        <p>
            independent temp temp
        </p>
    {% elif mode == 'probability' %}
        <h3>probability temp</h3>
        <p>
            probability temp temp
        </p>
    {% elif mode == 'sec_ownrisk' %}
        <h3>single temp</h3>
        <p>
            single temp temp
        </p>
    {% elif mode == 'sec_1bl_1ch' %}
        <h3>positive temp</h3>
        <p>
            positive temp temp
        </p>
    {% elif mode == 'sec_2bl_1ch' %}
        <h3>negative temp</h3>
        <p>
            negative temp temp
        </p>
    {% elif mode == 'sec_ownrisk_fixedother' %}
        <h3>ownrisk temp</h3>
        <p>
            ownrisk temp temp
        </p>
    {% elif mode == 'sec_otherrisk_ownfixed' %}
        <h3>otherrisk temp</h3>
        <p>
            otherrisk temp temp
        </p>
    {% elif mode == 'det_giv' %}
        <h3>deterministic given temp</h3>
        <p>
            deterministic given temp temp
        </p>
    {% endif %}

    {% next_button %}
{% endblock %}

