{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("arrive_time").value = (new Date()).toISOString();
      }
    </script>
{% endblock %}


{% block content %}
    {% formfield player.time_TaskInstructions with label=None %}

    {% if mode == 'probability' %}
        {% include Constants.instructions_probability %}
    {% elif sec0 == 'sec' %}
        {% include Constants.instructions_sec %}
    {% elif mode == 'det_giv' %}
        {% include Constants.instructions_det_giv %}
    {% endif %}

    {% next_button %}

{% endblock %}
